<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"><!-- 타임리프 활용하기(네임스키마 문법 추가) -->
<head>
<meta charset="UTF-8">		
<title>Insert title here</title>
</head>
<body>
		<div th:replace="common/header.html"></div>

	<table align="center" border="1" style="border-collapse:collapse; width: 50%; text-align: center;">
		<tr style="background-color: #333; color: #fff;">
			<th style="padding: 10px;">JOB ID</th>
			<th style="padding: 10px;">JOB TITLE</th>
			<th style="padding: 10px;">최소 급여</th>
			<th style="padding: 10px;">최대 급여</th>
		</tr>
		<tr>
		  <td th:text="${ jobId }" style="padding: 10px;"></td>
		  <td th:text="${ jobTitle }" style="padding: 10px;"></td>
		  <td th:text="${ minSalary }" style="padding: 10px;"></td>
		  <td th:text="${ maxSalary }" style="padding: 10px;"></td>
		</tr>
	</table>

	<script>
		const successMessage = "[[${ modifySuccessMessage }]]";
		successMessage && alert(successMessage);
		
	</script>
</body>
</html>