<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"><!-- 타임리프 활용하기(네임스키마 문법 추가) -->
<head>
<meta charset="UTF-8">		
<title>Insert title here</title>
</head>
<body>
	<script>
		const successMessage = "[[${registSuccessMessage}]]";
		successMessage && alert(successMessage);
	
	</script>
	<div th:replace="common/header.html"></div>

	<table align="center" border="1" style="border-collapse:collapse; width: 70%; text-align: center;">
		<tr style="background-color: #333; color: #fff;">
			<th style="padding: 10px;">아이디</th>
			<th style="padding: 10px;">이름</th>
			<th style="padding: 10px;">성</th>
			<th style="padding: 10px;">이메일</th>
			<th style="padding: 10px;">핸드폰 번호</th>
		</tr>
		<tr th:each="hr : ${ employeeList }">
			<td th:text="${ hr.employeeId }" style="padding: 10px;"></td>
			<td th:text="${ hr.firstName }" style="padding: 10px;"></td>
			<td th:text="${ hr.lastName }" style="padding: 10px;"></td>
			<td th:text="${ hr.email }" style="padding: 10px;"></td>
			<td th:text="${ hr.phoneNumber }" style="padding: 10px;"></td>
		</tr>
	</table>

	
	<script>
			const tableRows = document.querySelectorAll("tr");
		
		tableRows.forEach((row) => {
		  const rowData = [];
		  const tableData = row.querySelectorAll("td");
		  
		  tableData.forEach((data) => {
		    rowData.push(data.innerText);
		  });
		  
		  console.log(rowData);
		});
		

	</script>
</body>

</html>